@tailwind base;
@tailwind components;
@tailwind utilities;
/* Apply the dark theme class when the system prefers dark mode */
@media (prefers-color-scheme: dark) {
    body {
      class: 'theme-dracula';

      html {
        scroll-behavior: smooth;
      }
    }
    body, .container, .section {
      position: relative;
      z-index: 1;
    }
  }
  
